.modal-content {
  background-color:#393633;
}
.modal-header{
  border:none;
  background-color:#393633;
  color:#fff;
  border-radius:0;
}
.modal-footer{
  padding:0;
  border:none;
}
.modal-footer {
  width:100%;
  border-radius:0;
  background-color:#393633;
  border-color:#333;
}
.modal-footer {
  background-color:#000000;
}
.modal-body {
  padding:0;
  background-color:#393633;
}
